<div class="juxtapose-inner component-inner" role="region" aria-label="{{_globals._components._juxtapose.ariaRegion}}" {{#if _globals._components._juxtapose.ariaRegion}}tabindex="0"{{/if}}>
  {{> component this}}
  <div class="juxtapose-slider"/>
</div>
